.grid_gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-gap: 20px;
}

.featured_image {
  grid-row: span 2; /* Spans 2 rows */
  grid-column: span 2; /* Spans 2 columns */
}

.image_box {
  position: relative;
  border-radius: 6px;  
}

.image_box:hover .overlay {
  opacity: 0.6;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #282828;
  border-radius: 6px;
}

.checkbox_area {
  position: relative;
}

.checkbox_area input {
  position: absolute;
  z-index: 99;
  left: 15px;
  top: 18px;
}

.selected-image {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .grid_gallery {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }

  .featured_image {
    grid-row: span 2; /* Spans 2 rows */
    grid-column: span 3; /* Spans 3 columns */
  }

  .single_image {
    grid-row: span 1;
    grid-column: span 1;
  }
}

@media (max-width: 640px) {
  .grid_gallery {
    grid-template-columns: repeat(2, 1fr); /* 3 columns */
  }

  .featured_image {
    grid-row: span 2; /* Spans 2 rows */
    grid-column: span 2; /* Spans 3 columns */
  }

  .single_image {
    grid-row: span 1;
    grid-column: span 1;
  }
}
